<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>MakersBnb</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>

<body>
  <div class=spaces-page>
    <div class='spaces'>
      <% if @user %>
        <h1>Welcome, <%=@user.name%>!</h1>

        <form action="/sessions/destroy" method="post">
          <input type="submit" value="Log Out" class='button'/>
        </form>

        <form action="/spaces/new">
          <input type="submit" value="Add Space" class='button'/>
        </form>
      <% end %>

      <div>
        <ol>
          <% @spaces.each do |space| %>
            <li class='form space'>
              <ul>
                <li class='item'>

                  <div class='row'>

                    <div class='col'>
                      <%= space.name %><br>
                      <%= space.description %><br>
                    </div>

                    <div class='col'>
                      £<%= space.price %> per night<br>
                      Available from<br>
                      <%= space.date_from %><br>
                      until
                      <%= space.date_to %>
                    </div>

                  </div>
                </li>

        <form action="/calendar" method="post">

          <label for="start">Start date:</label>
          <input type="date" id="start" name="trip_start"
                value="<%= space.date_from %>"
                min="<%= space.date_from %>" max="<%= space.date_to %>">

          <label for="end">End date:</label>
          <input type="date" id="end" name="trip_end"
                value="<%= space.date_to %>"
                min="<%= space.date_from %>" max="<%= space.date_to %>">
                <br>

          <input type="hidden" name="space_id" value="<%= space.id %>"/>
          <input type="submit" name="Book" value="Book" class="button"/>
        </form>

              </ul>
            </li><br>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</body>

</html>
