<% if @user %>
<h1>Welcome, <%=@user.name%>!</h1>
<form action="/sessions/destroy" method="post">
    <input type="submit" value="Log Out" />
  </form>
<form action="/spaces/new">
    <input type="submit" value="Add Space" />
  </form>
<% end %>
<div>
<ol>
  <% @spaces.each do |space| %>
    <li>
      <%= space.name %><br>
      <ul>
        <li>
          <%= space.description %><br>
          £<%= space.price %> p/night<br>
          <%= space.date_from %><br>
          <%= space.date_to %>
        </li>
        <form action="/to_calendar" method="post">
          <input type="hidden" name="space_id" value="<%= space.id %>"/>
          <input type="submit" name="Book" value="Book"/>
        </form>
      </ul>
    </li><br>
  <% end %>
</ol>
</div>
